/* *** ================= Experience *** ================= */

.experience-section {
   position: relative !important;
   margin-top: 155px !important;
   padding-bottom: 100px !important;
   color: white !important;
}
.hover-area-heading:hover .experience-heading h1 strong {
   color: #181227 !important;
   background-color: var(--main-color);
   letter-spacing: 1.5px;
   padding: 0 20px;
   margin: 0 10px;
}
.experience-heading {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.experience-section .download-cv {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   color: white;
   font-weight: bold;
   background-color: var(--main-color);
   margin-top: 10px;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
   border: var(--border);
   border-radius: 50%;
   transition: 0.1s 0.3s;
}
.experience-section .or {
   padding: 0;
   margin: 0;
   margin-top: 10px;
}
.experience-section .download-cv.cv-web {
   width: 100px;
   border-radius: 4px;
}
.experience-section .download-cv:focus {
   outline: none !important;
   box-shadow: none;
}
.experience-section .download-cv:hover {
   background-color: var(--background-color);
   border: 5px solid var(--main-color);
}
.experience-section .download-cv span:nth-child(1) {
   display: block;
}
.experience-section .download-cv:hover span:nth-child(1) {
   display: none;
}
.experience-section .download-cv span:nth-child(2) {
   display: none;
}
.experience-section .download-cv:hover span:nth-child(2) {
   display: block;
   color: var(--main-color);
   font-size: 1.5rem;
}

/* Vertical Line */
.experience-section .vertical-line {
   position: relative;
   display: flex;
   align-items: center;
   flex-direction: column;
   height: 180px;
   margin-top: 20px;
   margin-bottom: -60px;
}
@media (max-width: 767px) {
   .experience-section .vertical-line {
      margin-bottom: -20px;
   }
}
.experience-section .circle {
   position: absolute;
   top: 0;
   width: 20px;
   height: 20px;
   background-color: var(--main-color);
   border-radius: 50%;
}
.experience-section .circle:nth-child(2) {
   top: 50%;
}
.experience-section .circle:nth-child(3) {
   top: 100%;
}
.experience-section .line {
   position: absolute;
   width: 2px;
   height: 100%;
   background-color: var(--main-color);
}
/* End Vertical Line */

.content-experience {
   padding: 40px 0;
}
.content-experience .project-heading {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 50px !important;
}
.content-experience h1 {
   width: 98%;
   text-align: left;
}
@media (max-width: 767px) {
   .content-experience .project-heading {
      padding: 10px 10px 0 15px;
      margin-top: 20px;
      margin-bottom: 10px !important;
   }
   .content-experience .project-heading h1 {
      width: 98%;
      text-align: center !important;
   }
}

.content-experience hr {
   width: 98%;
   color: white;
   margin-bottom: 20px;
}
.experience-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}
.experience-cards .container-card {
   width: 45%;
   padding: 10px 20px 0 20px;
   margin: 0;
   border-radius: 15px 40px;
}
@media (min-width: 657px) {
   .experience-cards .container-card {
      margin-bottom: 50px;
   }
}
@media (max-width: 990px) {
   .experience-cards .container-card {
      width: 100%;
   }
}
.experience-cards .container-card .card {
   color: var(--background-color);
   background-color: var(--main-color);
   padding: 20px;
   border: none;
   border-radius: 10px 30px;
   box-shadow: 10px 10px 0px rgb(38, 143, 38);
   transition: 0.3s;
}
.experience-cards .container-card .card:hover {
   transform: translate(7px, 7px);
   box-shadow: -1px 0px 0px 5px rgb(38, 143, 38);
}
@media (max-width: 767px) {
   .experience-cards {
      gap: 50px;
   }

   .experience-cards .container-card .card {
      padding: 6px !important;
   }
}

.experience-cards .container-card h2 {
   font-size: 2.5rem;
   margin: 0;
   padding-bottom: 10px;
   border-bottom: 2px solid var(--background-color);
}
@media (max-width: 767px) {
   .experience-cards .container-card h2 {
      font-size: 2rem;
   }
}

.experience-cards .container-card .date {
   display: flex;
   justify-content: space-between;
   border-bottom: 2px solid var(--background-color);
}

.experience-cards .container-card .date p {
   text-align: left;
   font-weight: bold;
   font-size: 0.8rem;
   padding: 5px;
   margin: 0;
}

/* *** ============ Tooltip ========== */
.tooltip-inner {
   display: flex !important;
   background-color: var(--background-color);
   color: white;
   padding: 5px 10px;
   border-radius: 5px;
   box-shadow: 0 2px 5px var(--background-color);
   font-size: 14px;
   text-align: center;
   border: 2px solid white !important;
   border-bottom: none !important;
}
.tooltip-arrow {
   display: none !important;
}

.experience-cards .container-card .skills-set {
   min-height: 50px;
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 5px;
   margin: 5px 0;
}

.experience-cards .container-card .skills-set div {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   color: var(--background-color);
   font-size: 1.5rem;
   cursor: default;
   background-color: var(--main-color);
   padding: 5px;
   border: 3px solid var(--background-color);
   border-radius: 10px 15px;
}

.experience-cards .container-card .skills-set div:hover {
   background-color: var(--background-color);
   color: var(--main-color);
}

.experience-cards .card-content {
   min-height: 100px;
   color: var(--text-light);
   background-color: var(--background-color) !important;
   padding: 20px 5px;
   border-radius: 0px 0px 20px 20px !important;
   transition: 0.3s;
}

.experience-cards ul li {
   font-size: 1rem;
   text-align: left;
   line-height: 18px;
   margin-bottom: 14px;
}
.experience-cards ul li a {
   color: var(--main-color);
   text-decoration: none;
}
.experience-cards ul li a:hover {
   text-decoration: underline;
}
.experience-cards ul .formal-edu div {
   display: flex;
   gap: 5px;
}
.experience-cards .informal-edu ul {
   padding: 0;
}

.experience-cards .informal-edu li {
   display: flex;
   align-items: center;
   gap: 5px;
}
.experience-cards .informal-edu {
   margin-bottom: 15px;
}
.experience-cards .informal-edu .sub-title {
   color: var(--main-color);
   padding: 0;
   margin: 0;
   font-size: 1.2rem;
}
.experience-cards .informal-edu li div svg {
   transform: rotate(180deg);
   margin-top: -10px;
   margin-right: 5px;
}
.experience-cards .informal-edu li .certificate {
   background-color: transparent;
   border: none;
   color: var(--main-color);
}
.experience-cards .informal-edu li .demo svg {
   width: 30px;
   height: 25px;
   font-size: 1.2rem;
   padding: 2.5px;
   border-radius: 4px;
   transition: 0.3s;
   /* border-left: 2px solid var(--main-color); */
}
.experience-cards .informal-edu li .demo::before {
   content: "|";
   margin-right: 4.5px;
}
.experience-cards .informal-edu li .demo svg:hover {
   /* color: #96b23caf; */
   color: var(--background-color);
   background-color: var(--main-color);
}

/* Exp Sertificate */
.certificate-button {
   width: 25px;
   height: 25px;
   color: var(--main-color) !important;
   background-color: transparent !important;
   padding: 0;
   border: none;
   border-radius: 4px;
   transition: 0.3s;
}
.certificate-button:hover {
   /* color: #96b23caf; */
   color: var(--background-color) !important;
   background-color: var(--main-color) !important;
}
.certificate-modal.privacy .modal-dialog {
   display: flex !important;
   align-items: center !important;
   height: 100vh !important;
}
.certificate-modal .modal-content {
   max-height: 100vh !important;
   color: var(--main-color);
   background-color: transparent;
}
@media screen and (min-width: 650px) {
   .certificate-modal .modal-content {
      max-width: 60%;
   }
   .certificate-modal .modal-content img {
      width: 100%;
   }
}
.certificate-modal .modal-header {
   background-color: var(--background-color);
   color: var(--main-color) !important;
   border-radius: 6px 12px 0 0;
   border: var(--border);
}
.certificate-modal .modal-header button {
   background-color: var(--main-color) !important;
   border-radius: 5px 10px;
}
.certificate-modal.privacy .modal-title {
   margin-right: 100px !important;
}
.certificate-modal .modal-body {
   border: var(--border);
   background-color: var(--background-color);
}
.certificate-modal .modal-footer {
   border: var(--border);
   background-color: var(--background-color);
}
.certificate-modal .modal-footer button {
   font-weight: bold;
   color: var(--main-color);
   background-color: var(--background-color) !important;
   border-radius: 6px 12px;
   border: 2px solid var(--main-color);
   transition: 0.3s;
}
.certificate-modal .modal-footer button:hover {
   color: var(--background-color);
   background-color: var(--main-color) !important;
   border-color: var(--background-color);
}

/* *** ================= Responsive Experience *** ================= */
@media (max-width: 767px) {
   .experience-cards ul {
      list-style: none;
      padding-left: 0.5rem;
   }
   .experience-cards ul > li:not(.not-line) {
      padding-bottom: 2px;
      margin-bottom: 1rem;
      border-bottom: 2px solid var(--main-color) !important;
   }
   .experience-cards ul .formal-edu div {
      flex-direction: column;
   }
   .experience-cards ul .formal-edu div p {
      padding: 0;
      margin: 0;
   }
   .experience-cards ul .formal-edu div p:nth-child(2) {
      text-align: right;
   }
   .experience-cards .education {
      padding: 0 50px;
   }
}
